<section class="shop-container">
  {% for item in items %}

  <div class="shop-item">
    <a href="/product/{{item.Product.id}}" class="shop-item-img"><img src="{{item.Product.img.url}}" alt="" /></a>
    <span class="shop-item-offer">{{item.Product.offers_title}}</span>
    <span class="shop-item-title">{{item.Product.title}}</span>
    <span class="shop-item-category">{{item.Product.gender}}'s {{item.Product.brand}}</span>
    <!-- <span class="shop-item-color">7 colors</span> -->
    <span class="shop-item-price">{{item.Product.currency}}{{item.Product.price}}</span>
  </div>

  {% endfor %}
</section>
