<footer>
    <section class="footer-socials">
      <div>
        <i
          class="fa-brands fa-youtube"
          style="margin: 0px 10px; color: grey; cursor: pointer"
        ></i>
        <i
          class="fa-brands fa-facebook"
          style="margin: 0px 10px; color: grey; cursor: pointer"
        ></i>
        <i
          class="fa-brands fa-instagram"
          style="margin: 0px 10px; color: grey; cursor: pointer"
        ></i>
        <i
          class="fa-brands fa-twitter"
          style="margin: 0px 10px; color: grey; cursor: pointer"
        ></i>
      </div>
    </section>

    <section class="footer-shortcut-section">
      <div class="footer-shortcut-container">
        <h3>promotions & discounts</h3>
        <ul>
          <li><a href="">student</a></li>
          <li><a href="">military</a></li>
          <li><a href="">teacher</a></li>
          <li><a href="">professionals</a></li>
          <li><a href="">birthdays</a></li>
        </ul>
      </div>

      <div class="footer-shortcut-container">
        <h3>categories</h3>
        <ul>
          <li><a href="">sneakers</a></li>
          <li><a href="">clothings</a></li>
          <li><a href="">kids</a></li>
          <li><a href="">bags</a></li>
          <li><a href="">featured</a></li>
        </ul>
      </div>

      <div class="footer-shortcut-container">
        <h3>help</h3>
        <ul>
          <li><a href="">get help</a></li>
          <li><a href="">order status</a></li>
          <li><a href="">shipping & delivery</a></li>
          <li><a href="">returns</a></li>
          <li><a href="">payment options</a></li>
        </ul>
      </div>

      <div class="footer-shortcut-container">
        <h3>privacy</h3>
        <ul>
          <li><a href="">privacy</a></li>
          <li><a href="">policy</a></li>
          <li><a href="">payment</a></li>
          <li><a href="">terms & conditions</a></li>
          <li><a href="">refund policy</a></li>
        </ul>
      </div>
    </section>

    <nav>
      <span>
        <i style="margin-right: 5px" class="fa fa-location-dot"></i>
        kampala-uganda</span
      >
      <span
        >©

        <script>
          var year = new Date().getFullYear();
          document.write(year);
        </script>

        e-shop rights reserved 2024</span
      >
      <span>terms of use</span>
    </nav>
  </footer>
