<header>
    <span class="logo">e-shop</span>

    <div class="header-navigations">
      <nav>
        <span><a href="/">new & featured</a></span>
        <span><a href="{% url 'men'%}">men</a></span>
        <span><a href="{% url 'women' %}">women</a></span>
      </nav>

      <span class="nav-search">
        <form action="" method="post">
          <span>
            <input type="search" name="" id="" placeholder="search product" />
            <button><i class="fa fa-search"></i></button>
          </span>
        </form>
      </span>

      <span class="nav-ico nav-wish-ico"
        ><a href="{% url 'wishlist' %}">
          <i class="fa fa-heart"></i> <span>{{wishNo}}</span></a
      ></span>

      <span class="nav-ico nav-cart-ico"
        ><a href="{% url 'cart' %}"
          ><i class="fa fa-shopping-bag"></i> <span>{{cartNo}}</span></a
        ></span
      >
    </div>
  </header>