{% extends '../main.html' %} {% block content %}
<!-- main context -->

<main>
  <section class="cart-section">
    <!-- cart items -->
    <main>

      {% if not request.user.is_authenticated %}
      <div class="cart-member-ads" style="margin-top: 10px;">
        <h2>members get free shipping on orders $50+</h2>
        <p>
          Register today for fast free shipping on orders $50+
          <a href="{% url 'register' %}">Register now</a> or
          <a href="{% url 'login' %}">Sign-in</a>
        </p>
      </div>
      {% endif %}

      <h2>shopping bag</h2>   
      
      <p class="no-bag" style="margin: 50px 0px;">
        There are no items in your bag
        <a href="" style="font-size: 20px; text-transform: capitalize; padding-left: 5%;">
          shope now
        </a>
      </p>

      {% include '../components/cart_items.html' with items=cartItems %}

      {% if not request.user.is_authenticated %}
      <div class="cart-favorites">
        <h2>favorites</h2>
        <p>
          want to view your favorites? <br />
          <a href="./register.html">Register now</a> or
          <a href="./login.html">Sign-in</a>
        </p>
      </div>
      {% endif %}

      <div class="cart-time-ads">
        <h4>Love sport sale: Ends 2.6s</h4>
        <p>sign in and use code HEART for an extra 20% off select styles.</p>
      </div>
    </main>

    <!-- summary -->
    <aside>
      <h2>summary</h2>
      <h5>
        Do you have a Promo Code?
        <span><i class="fa fa-angle-down"></i></span>
      </h5>
      <section class="cart-summery">
        <div>
          <span>subtotal <i class="fa fa-circle-question"></i></span
          ><span>--</span>
        </div>
        <div><span>estimated shipping & handling</span><span>free</span></div>
        <div>
          <span>estimated tax <i class="fa fa-circle-question"></i></span
          ><span>--</span>
        </div>
        <div>
          <span>total <i class="fa fa-circle-question"></i></span
          ><span>--</span>
        </div>
      </section>
      <a href="" class="cart-btn"><button type="button">checkout</button></a>
      <a href="" class="cart-btn"
        ><button class="paypal" type="button">paypal</button></a
      >
    </aside>
  </section>

  <!-- popular right now -->
  {% include '../components/products_scroll.html' with title='popular right now' products=allProducts %}

</main>

<!-- end of context -->
{% endblock content %}
