{% extends '../main.html' %} {% block content %}
<!-- main context -->

<main>
  <section class="cart-section">
    <!-- cart items -->
    <main>
      <h2>shopping bag</h2>

      <section class="cart-bag-container">
        <div class="cart-bag-item">
          <span class="cart-bag-item-img"
            ><img src="" alt="" />
            <span class="cart-bag-item-price">$140</span></span
          >
          <div>
            <a href="./product-details.html" class="cart-bag-item-title"
              >Nike Air Max 1</a
            >
            <span class="cart-bag-item-description"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
              aspernatur dolore exercitationem animi, sint error nulla...</span
            >
            <span class="cart-bag-item-qantity"
              ><i
                class="fa fa-minus"
                style="font-size: 10px; cursor: pointer; margin-right: 10px"
              ></i>
              <span style="color: orange">5</span>
              <i
                style="font-size: 10px; cursor: pointer; margin-left: 10px"
                class="fa fa-add"
              ></i
            ></span>
          </div>
        </div>

        <div class="cart-bag-item">
          <span class="cart-bag-item-img"
            ><img src="" alt="" />
            <span class="cart-bag-item-price">$140</span></span
          >
          <div>
            <a href="./product-details.html" class="cart-bag-item-title"
              >Nike Air Max 1</a
            >
            <span class="cart-bag-item-description"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
              aspernatur dolore exercitationem animi, sint error nulla...</span
            >
            <span class="cart-bag-item-qantity"
              ><i
                class="fa fa-minus"
                style="font-size: 10px; cursor: pointer; margin-right: 10px"
              ></i>
              <span style="color: orange">5</span>
              <i
                style="font-size: 10px; cursor: pointer; margin-left: 10px"
                class="fa fa-add"
              ></i
            ></span>
          </div>
        </div>

        <div class="cart-bag-item">
          <span class="cart-bag-item-img"
            ><img src="" alt="" />
            <span class="cart-bag-item-price">$140</span></span
          >
          <div>
            <a href="./product-details.html" class="cart-bag-item-title"
              >Nike Air Max 1</a
            >
            <span class="cart-bag-item-description"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
              aspernatur dolore exercitationem animi, sint error nulla...</span
            >
            <span class="cart-bag-item-qantity"
              ><i
                class="fa fa-minus"
                style="font-size: 10px; cursor: pointer; margin-right: 10px"
              ></i>
              <span style="color: orange">5</span>
              <i
                style="font-size: 10px; cursor: pointer; margin-left: 10px"
                class="fa fa-add"
              ></i
            ></span>
          </div>
        </div>

        <div class="cart-bag-item">
          <span class="cart-bag-item-img"
            ><img src="" alt="" />
            <span class="cart-bag-item-price">$140</span></span
          >
          <div>
            <a href="./product-details.html" class="cart-bag-item-title"
              >Nike Air Max 1</a
            >
            <span class="cart-bag-item-description"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
              aspernatur dolore exercitationem animi, sint error nulla...</span
            >
            <span class="cart-bag-item-qantity"
              ><i
                class="fa fa-minus"
                style="font-size: 10px; cursor: pointer; margin-right: 10px"
              ></i>
              <span style="color: orange">5</span>
              <i
                style="font-size: 10px; cursor: pointer; margin-left: 10px"
                class="fa fa-add"
              ></i
            ></span>
          </div>
        </div>
      </section>

      <!-- 
        <p class="no-bag">There are no items in your bag</p>
-->
      <div class="cart-favorites">
        <h2>favorites</h2>
        <p>
          want to view your favorites? <br />
          <a href="./register.html">Register now</a> or
          <a href="./login.html">Sign-in</a>
        </p>
      </div>

      <div class="cart-member-ads">
        <h2>members get free shipping on orders $50+</h2>
        <p>
          Register today for fast free shipping on orders $50+
          <a href="./register.html">Register now</a> or
          <a href="./login.html">Sign-in</a>
        </p>
      </div>

      <div class="cart-time-ads">
        <h4>Love sport sale: Ends 2.6s</h4>
        <p>sign in and use code HEART for an extra 20% off select styles.</p>
      </div>
    </main>

    <!-- summary -->
    <aside>
      <h2>summary</h2>
      <h5>
        Do you have a Promo Code?
        <span><i class="fa fa-angle-down"></i></span>
      </h5>
      <section class="cart-summery">
        <div>
          <span>subtotal <i class="fa fa-circle-question"></i></span
          ><span>--</span>
        </div>
        <div><span>estimated shipping & handling</span><span>free</span></div>
        <div>
          <span>estimated tax <i class="fa fa-circle-question"></i></span
          ><span>--</span>
        </div>
        <div>
          <span>total <i class="fa fa-circle-question"></i></span
          ><span>--</span>
        </div>
      </section>
      <a href="" class="cart-btn"><button type="button">checkout</button></a>
      <a href="" class="cart-btn"
        ><button class="paypal" type="button">paypal</button></a
      >
    </aside>
  </section>

  <section class="scroll-products">
    <span class="scroll-products-title">
      <h5>popular right now</h5>
      <div>
        <span><i class="fa fa-angle-left"></i></span>
        <span><i class="fa fa-angle-right"></i></span>
      </div>
    </span>

    <section class="scroll-products-items-container">
      <div class="scroll-products-item">
        <span class="scroll-products-item-img"><img src="" alt="" /></span>
        <span class="scroll-products-item-title"
          >air jordan3 retro craft "Ivory"</span
        >
        <span class="scroll-products-item-category">men's shoes</span>
        <span class="scroll-products-item-price">$210</span>
      </div>

      <div class="scroll-products-item">
        <span class="scroll-products-item-img"><img src="" alt="" /></span>
        <span class="scroll-products-item-title"
          >air jordan3 retro craft "Ivory"</span
        >
        <span class="scroll-products-item-category">men's shoes</span>
        <span class="scroll-products-item-price">$210</span>
      </div>

      <div class="scroll-products-item">
        <span class="scroll-products-item-img"><img src="" alt="" /></span>
        <span class="scroll-products-item-title"
          >air jordan3 retro craft "Ivory"</span
        >
        <span class="scroll-products-item-category">men's shoes</span>
        <span class="scroll-products-item-price">$210</span>
      </div>
    </section>
  </section>
</main>

<!-- end of context -->
{% endblock content %}
