{% extends '../main.html' %} {% block content %}

<main>
  <section class="shop-section">
    <!-- filter -->

    <!-- -========================================================================- -->

    <main>
      <!-- filter navigation -->
    <!--   
      {% include '../components/filter_nav.html' %}
 -->
      <!-- items -->
      {% include '../components/ProductsContainer.html' with information=categoryProducts %}

      <!-- more button -->
      <!-- <div class="shop-items-loading-section">loading...</div> -->
    </main>
  </section>
</main>

<!-- end of context -->
{% endblock content %}
