{% extends '../main.html' %} {% block content %}
<!-- main context -->

<main>
  <!-- carousel -->
  <!-- <div class="carousel-section"> -->
    {% include '../components/carousel.html' %}
  <!-- </div> -->

  <!-- clothings -->
  {% include '../components/products_scroll.html' with color='orange' category="clothings" title='trending clothings and sales' products=clothings %}

  <!-- featured -->
  {% include '../components/featured_sport.html' with title='shop by sports' products=featuredProducts %}

  <!-- categories -->
  {% include '../components/categories_scroll.html' with title='categories' categories=allCategories %}

  <!-- trending for men -->
  {% include '../components/products_scroll.html' with color='black' category="men" title='trending for men' products=topMen %}
  
  <!-- trending for women -->
  {% include '../components/products_scroll.html' with color='violet' category="women" title='trending for women' products=topWomen %}
  
  <!-- popular right now -->
  {% include '../components/products_scroll.html' with color='red' category="all" title='popular right now' products=allProducts %}

  <!-- poster -->
  {% include '../components/poster.html' with posters=allPosters %}

  <!-- top supermarket sales -->
  {% include '../components/products_scroll.html' with color='orange' category="supermarket" title='top supermarket sales' products=supermarket %}

<!-- trending kids accessories -->
  {% include '../components/products_scroll.html' with color='pink' category="kids" title='trending kids accessories' products=kids %}

  <!-- top gadget on sales -->
  {% include '../components/products_scroll.html' with color='lightblue' category="gadgets" title='top gadget on sales' products=gadgets %}



</main>

<!-- end of context -->
{% endblock content %}
