<!-- details on the product -->
{% extends '../main.html' %} {% block content %}
<!-- main context -->

<main>
  <section class="details-section">
    <main>
      <section>
        <div class="cart-member-ads">
          <h2>members get free shipping on orders $50+</h2>
          <p>
            Register today for fast free shipping on orders $50+
            <a href="./register.html">Register now</a> or
            <a href="./login.html">Sign-in</a>
          </p>
        </div>
      </section>

      <span>Men's Shoes</span>

      <h2>Air Jordan3 Retro Craft "Ivory"</h2>
      <p style="font-size: inherit">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque
        inventore, enim illo accusamus repellendus corporis aut sapiente velit
        nobis sunt quibusdam consequatur nemo error, maxime optio, consequuntur
        rerum repellat beatae.
      </p>

      <p style="color: grey; font-size: 15px">Sneakers</p>

      <span style="display: block; font-weight: bold; font-size: 20px"
        >$210</span
      >

      <div style="margin-top: 20px">
        <a href="" style="text-decoration: none"
          ><button
            style="
              text-transform: capitalize;
              padding: 5px 15px;
              outline: none;
              border-radius: 5px;
              border: none;
              font-weight: bold;
              background-color: black;
              color: white;
              cursor: pointer;
            "
            type="button"
          >
            add to cart
          </button></a
        >
        <a href="" style="text-decoration: none"
          ><button
            style="
              text-transform: capitalize;
              padding: 5px 15px;
              outline: none;
              border-radius: 5px;
              border: none;
              font-weight: bold;
              background-color: orange;
              color: white;
              cursor: pointer;
            "
            type="button"
          >
            add to wishlist
          </button></a
        >
      </div>
    </main>

    <aside>
      <span class="details-img"><img src="" alt="" /></span>
    </aside>
  </section>

  <div class="cart-favorites" style="margin: 5%; text-align: center">
    <h2>favorites</h2>
    <p>
      want to view your favorites? <br />
      <a href="./register.html">Register now</a> or
      <a href="./login.html">Sign-in</a>
    </p>
  </div>

  <div class="cart-time-ads" style="margin: 0px 5%">
    <h4>Love sport sale: Ends 2.6s</h4>
    <p>sign in and use code HEART for an extra 20% off select styles.</p>
  </div>
  <!-- </main> -->

  <section class="scroll-products">
    <span class="scroll-products-title">
      <h5>popular right now</h5>
      <div>
        <span><i class="fa fa-angle-left"></i></span>
        <span><i class="fa fa-angle-right"></i></span>
      </div>
    </span>

    <section class="scroll-products-items-container">
      <div class="scroll-products-item">
        <span class="scroll-products-item-img"><img src="" alt="" /></span>
        <span class="scroll-products-item-title"
          >air jordan3 retro craft "Ivory"</span
        >
        <span class="scroll-products-item-category">men's shoes</span>
        <span class="scroll-products-item-price">$210</span>
      </div>

      <div class="scroll-products-item">
        <span class="scroll-products-item-img"><img src="" alt="" /></span>
        <span class="scroll-products-item-title"
          >air jordan3 retro craft "Ivory"</span
        >
        <span class="scroll-products-item-category">men's shoes</span>
        <span class="scroll-products-item-price">$210</span>
      </div>

      <div class="scroll-products-item">
        <span class="scroll-products-item-img"><img src="" alt="" /></span>
        <span class="scroll-products-item-title"
          >air jordan3 retro craft "Ivory"</span
        >
        <span class="scroll-products-item-category">men's shoes</span>
        <span class="scroll-products-item-price">$210</span>
      </div>
    </section>
  </section>
</main>

<!-- end of context -->
{% endblock content %}
