<!-- details on the product -->
{% extends '../main.html' %} {% block content %}
<!-- main context -->

<main>
  <section class="details-section">
    <main>

      {% if not request.user.is_authenticated %}

      <section>
        <div class="cart-member-ads">
          <h2>members get free shipping on orders $50+</h2>
          <p>
            Register today for fast free shipping on orders $50+
            <a href="{% url 'register' %}">Register now</a> or
            <a href="{% url 'login' %}">Sign-in</a>
          </p>
        </div>
      </section>

      {% endif %}

      {% if request.user.is_authenticated %}
        <small style="display: block; color: white; background-color: orange; padding: 5px 15px; border-radius: 5px; text-transform: capitalize; margin: 10px 0px;">{{item.offers_title}}</small>
      
        <small style="color: grey; text-transform: capitalize;">{{item.sport}}</small>
        <h3 style="text-transform: capitalize; font-weight: bold; margin-bottom: 40px;">{{item.sport_headline}}</h3>
      {% endif %}

      <span style="text-transform: capitalize;">{{item.gender}}'s {{item.brand}}</span>

      <h2 style="text-transform: capitalize;">{{item.title}}</h2>
      <p style="font-size: inherit">
        {{item.description}}
      </p>

      <p style="color: grey; font-size: 15px; text-transform: capitalize;">{{item.category}}</p>

      <span style="display: block; font-weight: bold; font-size: 20px"
        >{{item.currency}}{{item.price}}</span
      >

      <div style="margin-top: 20px">
        <a href="/addcart/{{item.id}}" style="text-decoration: none"
          ><button
            style="
              text-transform: capitalize;
              padding: 5px 15px;
              outline: none;
              border-radius: 5px;
              border: none;
              font-weight: bold;
              background-color: black;
              color: white;
              cursor: pointer;
            "
            type="button"
          >
            add to cart
          </button></a
        >
        <a href="/addwishlist/{{item.id}}" style="text-decoration: none"
          ><button
            style="
              text-transform: capitalize;
              padding: 5px 15px;
              outline: none;
              border-radius: 5px;
              border: none;
              font-weight: bold;
              background-color: orange;
              color: white;
              cursor: pointer;
            "
            type="button"
          >
            add to wishlist
          </button></a
        >
      </div>
    </main>

    <aside>
      <span class="details-img"><img src="{{item.img.url}}" alt="" /></span>
    </aside>
  </section>

  {% if not request.user.is_authenticated %}

  <div class="cart-favorites" style="margin: 5%; text-align: center">
    <h2>favorites</h2>
    <p>
      want to view your favorites? <br />
      <a href="{% url 'register' %}">Register now</a> or
      <a href="{% url 'login' %}">Sign-in</a>
    </p>
  </div>

  {% endif %}

  <div class="cart-time-ads" style="margin: 0px 5%">
    <h4>Love sport sale: Ends 2.6s</h4>
    <p>sign in and use code HEART for an extra 20% off select styles.</p>
  </div>
  <!-- </main> -->

  <!-- related products -->



  {% include '../components/products_scroll.html' with title="related products" products=allProducts %}

</main>

<!-- end of context -->
{% endblock content %}
