{% extends '../main.html' %} {% block content %}
<!-- main context -->

<main>
  <section class="shop-section">
    <main>

      {% if request.user.is_authenticated %}

            <!-- filters -->
            <div
            class="shop-filter-main-options"
            style="
              flex-direction: row-reverse;
              justify-content: space-between;
              padding-left: 3%;
            "
          >
            <!-- <span>hide filters <i class="fa fa-filter"></i></span> -->
            <span
              >sort <i style="margin-left: 5px" class="fa fa-angle-down"></i
            ></span>
            <span style="font-family: var(--fontPoppins)"
              >wishlist
              <i style="color: orange; margin-left: 5px" class="fa fa-heart"></i
            ></span>
          </div>
    
          <!-- items -->
          {% include '../components/wishlist.html' with items=wishlistItems %}
    
          <!-- more button -->
          <!-- <div class="shop-items-loading-section">loading...</div> -->

      {% endif %}


      {% if not request.user.is_authenticated %}
      <div class="cart-favorites" style="margin: 20px 5%;padding: 5%;border-radius: 10px; text-align: center; background-color: whitesmoke;">
        <h2>favorites</h2>
        <p>
          want to view your favorites? <br />
          <a href="{% url 'register' %}">Register now</a> or
          <a href="{% url 'login' %}">Sign-in</a>
        </p>
      </div>


      <div class="cart-time-ads" style="margin: 0px 5%; display: flex;flex-direction: column; align-items: center; width: 50%;margin: 50px auto;">
        <h4>Love sport sale: Ends 2.6s</h4>
        <p>sign in and use code HEART for an extra 20% off select styles.</p>
      </div>
      {% endif %}

    </main>

    <!-- -========================================================================- -->
    <!-- categories -->
    
    {% if request.user.is_authenticated %}
      {% include '../components/wishlist_categories.html' with categories=allCategories %}
    {% endif %}


  </section>

  <!-- top monthly trends -->
  {% include '../components/products_scroll.html' with title='top monthly trends' products=allProducts %}

</main>

<!-- end of context -->
{% endblock content %}
