{% extends '../main.html' %} {% block content %}
<!-- main context -->

<main>
  <section class="shop-section">
    <aside>
      <div class="shop-pick-today">
        <span class="head">pick up today</span>
        <span><input type="checkbox" name="" id="" /></span>
      </div>

      <!-- headers -->
      <div class="shop-header">
        <span>women's <sub>(1275)</sub></span>
      </div>

      <div class="check-category-option">
        <span class="check-category-option-head"
          >sales & offers <i style="font-size: 13px" class="fa fa-angle-up"></i
        ></span>
        <ul>
          <li>
            <input type="checkbox" name="" id="" />
            <span>extra 20% off select styles</span>
          </li>
          <li><input type="checkbox" name="" id="" /> <span>sales</span></li>
        </ul>
      </div>

      <div class="check-category-option">
        <span class="check-category-option-head"
          >gender <i style="font-size: 13px" class="fa fa-angle-up"></i
        ></span>
        <ul>
          <li><input type="checkbox" name="" id="" /> <span>men</span></li>
          <li><input type="checkbox" name="" id="" /> <span>women</span></li>
          <li><input type="checkbox" name="" id="" /> <span>unisex</span></li>
        </ul>
      </div>

      <div class="check-category-option">
        <span class="check-category-option-head"
          >kids <i style="font-size: 13px" class="fa fa-angle-up"></i
        ></span>
        <ul>
          <li><input type="checkbox" name="" id="" /> <span>boys</span></li>
          <li><input type="checkbox" name="" id="" /> <span>girls</span></li>
        </ul>
      </div>

      <div class="check-category-option">
        <span class="check-category-option-head"
          >sales & offers <i style="font-size: 13px" class="fa fa-angle-up"></i
        ></span>
        <ul>
          <li>
            <input type="checkbox" name="" id="" />
            <span>extra 20% off select styles</span>
          </li>
          <li><input type="checkbox" name="" id="" /> <span>sales</span></li>
        </ul>
      </div>

      <div class="check-category-option">
        <span class="check-category-option-head"
          >gender <i style="font-size: 13px" class="fa fa-angle-up"></i
        ></span>
        <ul>
          <li><input type="checkbox" name="" id="" /> <span>men</span></li>
          <li><input type="checkbox" name="" id="" /> <span>women</span></li>
          <li><input type="checkbox" name="" id="" /> <span>unisex</span></li>
        </ul>
      </div>

      <div class="check-category-option">
        <span class="check-category-option-head"
          >kids <i style="font-size: 13px" class="fa fa-angle-up"></i
        ></span>
        <ul>
          <li><input type="checkbox" name="" id="" /> <span>boys</span></li>
          <li><input type="checkbox" name="" id="" /> <span>girls</span></li>
        </ul>
      </div>

      <!-- color pick -->
      <div class="check-color-option">
        <span class="check-color-option-head"
          >color <i style="font-size: 13px" class="fa fa-angle-up"></i
        ></span>
        <div class="check-color-container">
          <span class="check-color">
            <span
              class="check-color-color"
              style="background-color: black"
            ></span>
            <span class="check-color-title">black</span>
          </span>

          <span class="check-color">
            <span
              class="check-color-color"
              style="background-color: white"
            ></span>
            <span class="check-color-title">white</span>
          </span>

          <span class="check-color">
            <span
              class="check-color-color"
              style="background-color: green"
            ></span>
            <span class="check-color-title">green</span>
          </span>

          <span class="check-color">
            <span
              class="check-color-color"
              style="background-color: yellow"
            ></span>
            <span class="check-color-title">yellow</span>
          </span>

          <span class="check-color">
            <span
              class="check-color-color"
              style="background-color: purple"
            ></span>
            <span class="check-color-title">purple</span>
          </span>

          <span class="check-color">
            <span
              class="check-color-color"
              style="background-color: red"
            ></span>
            <span class="check-color-title">red</span>
          </span>
        </div>
      </div>

      <div class="check-category-option">
        <span class="check-category-option-head"
          >sales & offers <i style="font-size: 13px" class="fa fa-angle-up"></i
        ></span>
        <ul>
          <li>
            <input type="checkbox" name="" id="" />
            <span>extra 20% off select styles</span>
          </li>
          <li><input type="checkbox" name="" id="" /> <span>sales</span></li>
        </ul>
      </div>

      <div class="check-category-option">
        <span class="check-category-option-head"
          >gender <i style="font-size: 13px" class="fa fa-angle-up"></i
        ></span>
        <ul>
          <li><input type="checkbox" name="" id="" /> <span>men</span></li>
          <li><input type="checkbox" name="" id="" /> <span>women</span></li>
          <li><input type="checkbox" name="" id="" /> <span>unisex</span></li>
        </ul>
      </div>

      <div class="check-category-option">
        <span class="check-category-option-head"
          >kids <i style="font-size: 13px" class="fa fa-angle-up"></i
        ></span>
        <ul>
          <li><input type="checkbox" name="" id="" /> <span>boys</span></li>
          <li><input type="checkbox" name="" id="" /> <span>girls</span></li>
        </ul>
      </div>

      <div class="check-category-option">
        <span class="check-category-option-head"
          >sales & offers <i style="font-size: 13px" class="fa fa-angle-up"></i
        ></span>
        <ul>
          <li>
            <input type="checkbox" name="" id="" />
            <span>extra 20% off select styles</span>
          </li>
          <li><input type="checkbox" name="" id="" /> <span>sales</span></li>
        </ul>
      </div>

      <div class="check-category-option">
        <span class="check-category-option-head"
          >gender <i style="font-size: 13px" class="fa fa-angle-up"></i
        ></span>
        <ul>
          <li><input type="checkbox" name="" id="" /> <span>men</span></li>
          <li><input type="checkbox" name="" id="" /> <span>women</span></li>
          <li><input type="checkbox" name="" id="" /> <span>unisex</span></li>
        </ul>
      </div>

      <div class="check-category-option">
        <span class="check-category-option-head"
          >kids <i style="font-size: 13px" class="fa fa-angle-up"></i
        ></span>
        <ul>
          <li><input type="checkbox" name="" id="" /> <span>boys</span></li>
          <li><input type="checkbox" name="" id="" /> <span>girls</span></li>
        </ul>
      </div>
    </aside>

    <!-- -========================================================================- -->

    <main>
      <!-- filters -->
      <div class="shop-filter-main-options">
        <span>hide filters <i class="fa fa-filter"></i></span>
        <span>sort <i class="fa fa-angle-down"></i></span>
      </div>

      <!-- items -->
      <section class="shop-container">
        <div class="shop-item">
          <a href="" class="shop-item-img"><img src="" alt="" /></a>
          <span class="shop-item-offer">best sellers</span>
          <span class="shop-item-title">nike air max 1</span>
          <span class="shop-item-category">men's shoes</span>
          <span class="shop-item-color">7 colors</span>
          <span class="shop-item-price">$140</span>
        </div>

        <div class="shop-item">
          <a href="" class="shop-item-img"><img src="" alt="" /></a>
          <span class="shop-item-offer">best sellers</span>
          <span class="shop-item-title">nike air max 1</span>
          <span class="shop-item-category">men's shoes</span>
          <span class="shop-item-color">7 colors</span>
          <span class="shop-item-price">$140</span>
        </div>

        <div class="shop-item">
          <a href="" class="shop-item-img"><img src="" alt="" /></a>
          <span class="shop-item-offer">best sellers</span>
          <span class="shop-item-title">nike air max 1</span>
          <span class="shop-item-category">men's shoes</span>
          <span class="shop-item-color">7 colors</span>
          <span class="shop-item-price">$140</span>
        </div>

        <div class="shop-item">
          <a href="" class="shop-item-img"><img src="" alt="" /></a>
          <span class="shop-item-offer">best sellers</span>
          <span class="shop-item-title">nike air max 1</span>
          <span class="shop-item-category">men's shoes</span>
          <span class="shop-item-color">7 colors</span>
          <span class="shop-item-price">$140</span>
        </div>

        <div class="shop-item">
          <a href="" class="shop-item-img"><img src="" alt="" /></a>
          <span class="shop-item-offer">best sellers</span>
          <span class="shop-item-title">nike air max 1</span>
          <span class="shop-item-category">men's shoes</span>
          <span class="shop-item-color">7 colors</span>
          <span class="shop-item-price">$140</span>
        </div>

        <div class="shop-item">
          <a href="" class="shop-item-img"><img src="" alt="" /></a>
          <span class="shop-item-offer">best sellers</span>
          <span class="shop-item-title">nike air max 1</span>
          <span class="shop-item-category">men's shoes</span>
          <span class="shop-item-color">7 colors</span>
          <span class="shop-item-price">$140</span>
        </div>

        <div class="shop-item">
          <a href="" class="shop-item-img"><img src="" alt="" /></a>
          <span class="shop-item-offer">best sellers</span>
          <span class="shop-item-title">nike air max 1</span>
          <span class="shop-item-category">men's shoes</span>
          <span class="shop-item-color">7 colors</span>
          <span class="shop-item-price">$140</span>
        </div>

        <div class="shop-item">
          <a href="" class="shop-item-img"><img src="" alt="" /></a>
          <span class="shop-item-offer">best sellers</span>
          <span class="shop-item-title">nike air max 1</span>
          <span class="shop-item-category">men's shoes</span>
          <span class="shop-item-color">7 colors</span>
          <span class="shop-item-price">$140</span>
        </div>

        <div class="shop-item">
          <a href="" class="shop-item-img"><img src="" alt="" /></a>
          <span class="shop-item-offer">best sellers</span>
          <span class="shop-item-title">nike air max 1</span>
          <span class="shop-item-category">men's shoes</span>
          <span class="shop-item-color">7 colors</span>
          <span class="shop-item-price">$140</span>
        </div>

        <div class="shop-item">
          <a href="" class="shop-item-img"><img src="" alt="" /></a>
          <span class="shop-item-offer">best sellers</span>
          <span class="shop-item-title">nike air max 1</span>
          <span class="shop-item-category">men's shoes</span>
          <span class="shop-item-color">7 colors</span>
          <span class="shop-item-price">$140</span>
        </div>

        <div class="shop-item">
          <a href="" class="shop-item-img"><img src="" alt="" /></a>
          <span class="shop-item-offer">best sellers</span>
          <span class="shop-item-title">nike air max 1</span>
          <span class="shop-item-category">men's shoes</span>
          <span class="shop-item-color">7 colors</span>
          <span class="shop-item-price">$140</span>
        </div>

        <div class="shop-item">
          <a href="" class="shop-item-img"><img src="" alt="" /></a>
          <span class="shop-item-offer">best sellers</span>
          <span class="shop-item-title">nike air max 1</span>
          <span class="shop-item-category">men's shoes</span>
          <span class="shop-item-color">7 colors</span>
          <span class="shop-item-price">$140</span>
        </div>
      </section>
      <!-- more button -->
      <div class="shop-items-loading-section">loading...</div>
    </main>
  </section>
</main>

<!-- end of context -->
{% endblock content %}
